@import "styles/global";
.slider{
  height: 240px;
  max-width: $max_width;
  margin:0 auto;
  border-radius: 15px;
  @include small_size(){
    margin: 0 6px;
    border-radius: 0;

  }
  .next_button{
    position: absolute;
    right: 0;
    height: 45px;
    width: 28px;
    z-index: 999;
    border-radius: 6px 0 0 6px;
    @include mobile_size(){
      display: none;
    }
    &>div{
      overflow: visible !important;
    }
    img{
      height: 28px;
      text-align: center;
      transform: rotate(180deg);

    }
    &::before{
      content: "";
    }
  }
  .prev_button{
    position: absolute;
    left: 0;
    height: 45px;
    width: 28px;
    z-index: 999;
    border-radius: 0 6px 6px 0;
    @include mobile_size(){
      display: none;
    }
    &>div{
      overflow: visible !important;
    }
    img{
      height: 28px;
      text-align: center;
      //transform:translate(0,11px);

    }
    &::before{
      content: "";
    }
  }
  .item{
    position: relative;
    border-radius: 15px;
    @include small_size(){
      border-radius: 0;
    }
    a{
      border-radius: 15px;
      @include small_size(){
        border-radius: 0;
      }
      background-repeat: no-repeat;
      background-size: cover;
      background-position:0 center;
      @include mobile_size(){
        background-image: none !important;
      }
      display: block;
      height: 90%;
      margin:12px 6px;
    }
    height: 240px;
  }
  @mixin text_position(){
    position: absolute;
    right: 8%;

    color: white;
    text-shadow: 0 0 4px $color_text;
    padding: 6px 10px;
    border-radius: 4px;
    @include mobile_size(){
      right: 2px;
    }
  }
  .book_name{
    font-size: 2pc;
    font-weight: 800;
    top: 30px;
    @include text_position();
  }
  .caption{
    bottom:50px;
    @include text_position();
  }
}
