@import "global.scss";
.bookList{
  padding: 0 8px;
  display: flex;
  justify-content: flex-start;
  a{
  display: block;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  width: 145px;
  color:$color_text;
  height: 140px;
  margin:8px auto;
  cursor: pointer;
  padding: 6px;
  border-radius: 10px;
    &:hover{
      background-color: $color_gray;
    }
  }
  .img{
    box-shadow: 0 0 2px gray;
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
      margin: 6px auto;
      height: 95px;
      width: 95px;
      background-color: $color_gray_light;
      border-radius: 45px;
      overflow: hidden;
  }
}