@import "styles/global";
.book{
  position: relative;
  margin: 8px 4px;
  text-align: center;
  height: 220px;
  display: block;
  padding-top: 10px;

  text-decoration: none;

  .cover{
    max-width: 160px;
    position: relative;
    height: 190px;
    margin: 0 auto;
    img{
      border-radius: 6px;
    }
  }
  .caption{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color:$color_text;
    height: 20px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}