@import "global.scss";
.footer{
    background-color: $color_gray;
    position: relative;
    min-height: 250px;
    @include mobile_size(){
        min-height: 100%;
        padding-bottom: 80px;
    }
    margin-top: 20px;
    .container{
        max-width:$max_width ;
        margin: 0 auto;
        .subscribe{
            max-width: 400px;
            margin: 0 auto;
            text-align: center;
        }
        .copyright{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom:6px;
            text-align: center;
            font-size: 10px;
            div{
                padding-bottom: 6px;
            }
            img{
                padding: 6px;
            }
        }
       ul{
           padding: 40px 0 20px;
           justify-content: center;
       }
    }
}