@import "styles/slick.min.scss";
@import "styles/slick-theme.min.scss";
//dec
$max_width:1024px;
//color
$color_glass: rgba(130,144,130,0.58);
$color_gray:#e4e4e4;
$color_gray_light:#e4e4e457;
$color_green:#00aa5e;
$color_green_hover:#20e18b;
$color_green_active:#107045;
$color_text:#0c0c0c;
$color_glass:rgba(124,124,124,0.3);

//media
$medium-width:1023px;
@mixin medium_size{
  @media screen and(max-width:1023px){
    @content;
  }
}
$small-width:992px;
@mixin small_size{
  @media screen and(max-width:992px){
    @content;
  }
}
$mobile-width:576px;
@mixin mobile_size{
  @media screen and(max-width:576px){
    @content;
  }
}
//Mixin
@mixin textbox(){
  padding: 6px 10px;
  border-radius: 25px;
  border: 1px solid #bbb2b2;
  box-sizing: border-box;
  box-shadow: 0 0 0;
  transition: all 0.2s ease-in;
  &::placeholder{
    color:$color_green;
  }
  &:focus,&:active{
    -webkit-appearance: none;
    border:1px solid $color_green;
    box-shadow:0 0 2px $color_green;
    outline: none;
  }
}
@mixin button(){
  padding:8px 12px;
  border:1px solid $color_green;
  border-radius: 25px;
  background-color: $color_green;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &:hover{
    background-color: $color_green_hover;
    border:1px solid $color_green_hover;
  }
 &:active{
    background-color: $color_green_active;
    border:1px solid $color_green_active;
    outline: none;
  }



}
//general
.block{
  width: 100%;
}
.btn{
  @include button();
  &.white{
    background-color: white;
    color:$color_text;
    border:1px solid white;
  }

}
//overide
.text{
  @include textbox();
  border-radius: 6px;
  &::placeholder{
    color:gray;
  }
}