@import "public/assets/fonts/font";
@import "global.scss";
body{
    direction: rtl;
    margin:0;
    padding: 0;
    *{

        font-family: "shabnam";
    }
}
.layout{
    max-width: $max_width;
    margin: 0 auto;
}
.row{
    display: flex;

}
.col{
    width: 100%;
    &.m_20{
        width: 20%;
    }
    &.m_80{
        width: 80%;
    }
}
.loading{
    min-height: 240px;
    text-align: center;
    background-color: $color_gray_light;
    line-height: 238px;
}