@import "public/assets/fonts/font";
@import "global.scss";
body{
    direction: rtl;
    margin:0;
    padding: 0;
    *{
        font-family: "shabnam";
    }
}
.layout{
    max-width: $max_width;
    margin: 0 auto;
    padding-top: 40px;
}
.row{
    display: flex;

}
.col{
    width: 100%;
    &.m_20{
        width: 20%;
    }
    &.m_80{
        width: 80%;
    }
}
.loading{
    min-height: 240px;
    text-align: center;
    background-color: $color_gray_light;
    line-height: 238px;
}
.pageView{
    top:16px;
    position: relative;
    box-shadow:0 0 4px gray;
    margin: 8px;
    border-radius: 4px;
    .title{
        position: absolute;
        top: -20px;
        right: 8px;
        z-index: 999;
        background-color: $color_green;
        max-width: 180px;
        text-align: center;
        padding: 8px 12px;
        color:white;
        border-radius: 25px;
    }
}
.publisherDetails{
    .content{
        b{
            padding: 4px 0 18px 0;
            display: block;
        }
        .details{
            padding-top: 8px;
            font-size: 12px;
            line-height: 20px;
        }
    }
    .img{
        height: 150px;
        width: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;

    }
}
.font_size{
    background-color: $color_gray_light;
    padding: 4px;
    &>div{
        line-height: 28px;
        padding: 0 5px;

    }
    display: flex;
    position: absolute;
    right: 20px;
    top:24px;
    z-index: 999;
    font-size: 14px;

    input{
        border:0;
        height: 30px;
        width: 30px;
        margin:0 2px;
        font-size: 16px;
        background-color: $color_green;
        color:white;
    }
}